<form (ngSubmit)="onSubmit()" animate.enter="enter-animation" class="modal-area">
  <div class="container-25 col">
    <h3>Tem certeza que quer deletar?</h3>
    <div style="width: 100%; display: flex; justify-content: end; gap: 1vw">
      <button
        type="button"
        matButton
        style="width: 100%; background-color: crimson; color: white"
        (click)="close()"
      >
        Cancelar
      </button>
      <button type="button" matButton="filled" style="width: 100%" (click)="onSubmit()">
        Remover
      </button>
    </div>
  </div>
</form>
