html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.col {
  flex-direction: column;
}

.container-25 {
  border-radius: 5px;
  background-color: aliceblue;
  display: flex;
  width: 25%;
  padding: 20px;
}

.central-page {
  padding-left: 20vw;
  padding-right: 20vw;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.center {
  align-items: center;
  justify-content: space-between;
}
