html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.col {
  flex-direction: column;
}

.container-25 {
  border-radius: 5px;
  background-color: aliceblue;
  display: flex;
  width: 25%;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.table {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px;
}

.central-page {
  padding-left: 20vw;
  padding-right: 20vw;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fields {
  display: flex;
  flex-direction: column;
}

.enter-animation {
  animation: slide-fade 0.15s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.center {
  align-items: center;
  justify-content: space-between;
}
